@font-face {
	font-family: 'Inter';
	src: url(../fonts/Inter/static/Inter-Regular.ttf);
}


html {
  overflow: scroll;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #eff3f7;
}

hr {
  border: 1px solid #e4e4e4;
}

h3 {
  margin: 50px 0 16px 0 !important;
}

code {
  background-color: #efefef;
  padding: 0 5px;
  border-radius: 2px;
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@font-face {
  font-family: LilyScriptOne;
  src: url(../fonts/LilyScriptOne/LilyScriptOne-Regular.ttf);
}


.header-notice {
  width: 100%;
  padding: 16px 72px;
  background-color: #fdffd8;
  text-align: center;
}

.header-logo {
  font-family: LilyScriptOne;
  font-size: 4rem;
}

.sidebar {
  top: 50px;
}

.section-title {
  background-color: #fff;
  z-index: 2 !important;
}

.section-title::before {
  content: "";
  background-color: #fff;
  width: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -24px;
}

.section-title::after {
  content: "";
  background-color: #fff;
  width: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -24px;
}

.section-title .material-icons {
  pointer-events: none;
}

.sample-text {
  padding: 10px;
  background-color: aliceblue;
  border-radius: 4px;
  position: relative;
  height: auto;
  min-height: 60px;
}

.header-cover {
  width: 100%;
  height: 500px;
}

.main-content {
  min-height: 500px;
}

.sample-element {
  margin: unset;
  width: fit-content;
  color: white;
}

.sample-element.static {
  position: absolute;
  top: 0;
  left: 0;
}

.sample-element-1 {
  background-color: #c02881;
}

.sample-element-2 {
  background-color: #8528c0;
}

.sample-element-3 {
  background-color: #286ac0;
}

#sample-full-width, #sample-half-width {
  padding: 16px;
  background-color: #c02881;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

#sample-full-height, #sample-half-height {
  padding: 16px;
  background-color: #c02881;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

#sample-padding-smaller, #sample-padding-small, #sample-padding-medium, #sample-padding-large, #sample-padding-larger {
  background-color: #8528c0;
  color: white;
  width: fit-content;
}

.animated.showItem {
  animation-name: showItem;
  animation-duration: 0.5s;
  animation-timing-function: 1;
  animation-fill-mode: forwards;
}

@keyframes showItem {
  0% {
      opacity: 0;
      transform: scale(.9);
      -webkit-transform: scale(.9);
  }

  100% {
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
  }
}

.animated.showPage {
  animation-name: showPage;
  animation-duration: 0.5s;
  animation-timing-function: 1;
  animation-fill-mode: forwards;
}

@keyframes showPage {
  0% {
      opacity: 0;
      transform: translateY(100px);
      -webkit-transform: translateY(100px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
  }
}

.animated.hidePage {
  animation-name: hidePage;
  animation-duration: 0.5s;
  animation-timing-function: 1;
  animation-fill-mode: forwards;
}

@keyframes hidePage {
  0% {
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
  }

  100% {
      opacity: 0;
      transform: scale(1.02);
      -webkit-transform: scale(1.02);
  }
}


.helpers-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  opacity: 0;
  transition: 0.4s ease-in-out;
  z-index: 6;
}

.helpers-progress--bar {
  background-color: #94d0ff;
  box-shadow: 0 0 5px #94d0ff;
  height: 100%;
  width: 15%;
  transition: 0.4s ease-in-out;
}

.helpers-progress.show {
  opacity: 1 !important;
  animation-name: progress-loading;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.helpers-progress--bar.full {
  width: 100% !important;
}

@keyframes progress-loading {
  0% {
    width: 15%;
  }

  100% {
    width: 90%;
  }
}
