@use "sass:math";

$unit: 'rem';

$sizes: (
  xxxs: 4, // xxx-small
  xxs: 8, // xx-small
  xs: 12, // x-small
  sm: 16, // small
  md: 24, // medium
  lg: 32, // large
  xl: 56, // x-large
  xxl: 72, // xx-large
  xxxl: 112, // xxx-large
);  


// General size
@each $size-name, $size-value in $sizes {
  $value: 0;

  @if $unit == 'rem' {
    $value: #{math.div($size-value, 10)}rem;
  }
  @else if $unit == 'px' {
    $value: #{$size-value}px;
  }

  .b\:fs-#{$size-name} {
    font-size: $value !important;
  }
}