@use 'sass:math';
@use '../style/size/media-queries';

$unit: 'rem';

$margins: (
  none: 0,
  xxxs: 4, // xxx-small
  xxs: 8, // xx-small
  xs: 12, // x-small
  sm: 16, // small
  md: 24, // medium
  lg: 32, // large
  xl: 56, // x-large
  xxl: 72, // xx-large
  xxxl: 112, // xxx-large
);  

$sides: (
  x: x, // horizontal
  y: y, // vertical
  s: left, // 's' stands for 'start'
  e: right, // 'e' stands for 'end'
  t: top,
  b: bottom,
);


/**
 * Margins
 * */

// General margin
@each $size-name, $size-value in $margins {
  $value: 0;

  @if $unit == 'rem' {
    $value: #{math.div($size-value, 10)}rem;
  }
  @else if $unit == 'px' {
    $value: #{$size-value}px;
  }

  .b\:m-#{$size-name} {
    margin: $value !important;
  }
}

// Sides margins
@each $side-name, $side-value in $sides {
  @each $size-name, $size-value in $margins {
    $value: 0;

    @if $unit == 'rem' {
      $value: #{math.div($size-value, 10)}rem;
    }
    @else if $unit == 'px' {
      $value: #{$size-value}px;
    }

    .b\:m#{$side-name}-#{$size-name} {
      @if $side-name == x {
        margin-left: $value !important;
        margin-right: $value !important;
      }
      @else if $side-name == y {
        margin-top: $value !important;
        margin-bottom: $value !important;
      }
      @else {
        margin-#{$side-value}: $value !important;
      }
    }
  }
}