@use 'variables' as var;
@use 'breakpoints' as bp;

$displays: (
  block,
  flex,
  grid,
  inline-block,
  inline-flex,
  inline-grid,
  inline,
  none,
  unset
);


@each $item in $displays {
  .#{var.$prefix}d-#{$item} {
    display: #{$item} !important;
  }
}



@each $bp-name, $bp-value in bp.$breakpoints {
  @include bp.media($bp-name) {
    @each $item in $displays {
      .#{var.$prefix}d-#{$bp-name}-#{$item} {
        display: #{$item} !important;
      }
    }
  }
}