@use 'media-queries' as mq;

$displays: (
  block,
  flex,
  grid,
  inline-block,
  inline-flex,
  inline-grid,
  inline,
  none,
  unset
);


@each $item in $displays {
  .b\:d-#{$item} {
    display: #{$item} !important;
  }
}



@each $bp-name, $bp-value in mq.$breakpoints {
  @include mq.media($bp-name) {
    @each $item in $displays {
      .b\:d-#{$bp-name}-#{$item} {
        display: #{$item} !important;
      }
    }
  }
}