@use 'variables' as var;
@use 'media-queries' as mq;
@use 'sizes' as sz;

$elevations: (
  0: none,
  1: (sz.size(0) sz.size(1) sz.size(3) rgba(#000, 12%), sz.size(0) sz.size(1) sz.size(2) rgba(#000, 24%)),
  2: (sz.size(0) sz.size(3) sz.size(6) rgba(#000, 16%), sz.size(0) sz.size(3) sz.size(6) rgba(#000, 23%)),
  3: (sz.size(0) sz.size(10) sz.size(20) rgba(#000, 19%), sz.size(0) sz.size(6) sz.size(6) rgba(#000, 23%)),
  4: (sz.size(0) sz.size(14) sz.size(28) rgba(#000, 25%), sz.size(0) sz.size(10) sz.size(10) rgba(#000, 22%)),
  5: (sz.size(0) sz.size(19) sz.size(38) rgba(#000, 30%), sz.size(0) sz.size(15) sz.size(12) rgba(#000, 22%))
);


@each $elevation-key, $elevation-value in $elevations {
  .#{var.$prefix}shadow-#{$elevation-key} {
    box-shadow: #{$elevation-value} !important;
  }
}


@each $bp-name, $bp-value in mq.$breakpoints {
  @include mq.media($bp-name) {
    @each $elevation-key, $elevation-value in $elevations {
      .#{var.$prefix}shadow-#{$bp-name}-#{$elevation-key} {
        box-shadow: #{$elevation-value} !important;
      }
    }
  } 
}
