@use 'variables' as var;
@use 'breakpoints'as bp;
@use 'functions' as fn;

$elevations: (
  0: none,
  1: (fn.size(0) fn.size(1) fn.size(3) rgba(#000, 12%), fn.size(0) fn.size(1) fn.size(2) rgba(#000, 24%)),
  2: (fn.size(0) fn.size(3) fn.size(6) rgba(#000, 16%), fn.size(0) fn.size(3) fn.size(6) rgba(#000, 23%)),
  3: (fn.size(0) fn.size(10) fn.size(20) rgba(#000, 19%), fn.size(0) fn.size(6) fn.size(6) rgba(#000, 23%)),
  4: (fn.size(0) fn.size(14) fn.size(28) rgba(#000, 25%), fn.size(0) fn.size(10) fn.size(10) rgba(#000, 22%)),
  5: (fn.size(0) fn.size(19) fn.size(38) rgba(#000, 30%), fn.size(0) fn.size(15) fn.size(12) rgba(#000, 22%))
);


@each $elevation-key, $elevation-value in $elevations {
  .#{var.$prefix}shadow-#{$elevation-key} {
    box-shadow: #{$elevation-value} !important;
  }
}


@each $bp-name, $bp-value in bp.$breakpoints {
  @include bp.media($bp-name) {
    @each $elevation-key, $elevation-value in $elevations {
      .#{var.$prefix}shadow-#{$bp-name}-#{$elevation-key} {
        box-shadow: #{$elevation-value} !important;
      }
    }
  } 
}
