@use 'sass:math';
@use 'media-queries' as mq;

$max-cols: 12;

$utils: (
  'col',
  'offset',
);

.b\:row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @each $util in $utils {
    $prop: null;
    
    @if $util == 'col' {
      $prop: width;
    }
    @else if $util == 'offset' {
      $prop: margin-left;
    }
    
    @for $i from 1 through $max-cols {
      $value: math.div(100%, $max-cols) * $i;

      .#{$util}-#{$i} {
        #{$prop}: #{$value};
      }
    }

    @each $bp-name, $bp-value in mq.$breakpoints {
      @include mq.media($bp-name) {
        @for $i from 1 through $max-cols {
          $value: math.div(100%, $max-cols) * $i;

          .#{$util}-#{$bp-name}-#{$i} {
            #{$prop}: #{$value};
          }
        }
      }
    }
  }
}
