@use 'sass:math';
@use 'media-queries' as mq;

.b\:row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  .b\:row {
    .b\:col-#{$i} {
      width: math.div(100%, 12) * $i;
    }

    .b\:offset-#{$i} {
      margin-left: math.div(100%, 12) * $i;
    }
  }
}

@each $bp-name, $bp-value in mq.$breakpoints {
  @include mq.media($bp-name) {
    @for $i from 1 through 12 {
      .b\:row {
        .b\:col-#{$bp-name}-#{$i} {
          width: math.div(100%, 12) * $i;
        }

        .b\:offset-#{$bp-name}-#{$i} {
          margin-left: math.div(100%, 12) * $i;
        }
      }
    }
  }
}