@use 'sass:math';

@use 'variables' as var;
@use 'breakpoints' as bp;

$max-cols: 12;

$utils: (
  col: width,
  offset: margin-left,
);

.#{var.$prefix}row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @each $util-name, $util-value in $utils {
    $prop: $util-value;
    
    @for $i from 1 through $max-cols {
      $value: math.div(100%, $max-cols) * $i;

      .#{$util-name}-#{$i} {
        #{$prop}: #{$value};
      }
    }

    @each $bp-name, $bp-value in bp.$breakpoints {
      @include bp.media($bp-name) {
        @for $i from 1 through $max-cols {
          $value: math.div(100%, $max-cols) * $i;

          .#{$util-name}-#{$bp-name}-#{$i} {
            #{$prop}: #{$value};
          }
        }
      }
    }
  }
}
