@use 'variables' as var;
@use 'functions' as fn;
@use 'breakpoints' as bp;

$sides: (
  x: x, // horizontal
  y: y, // vertical
  s: left, // 's' stands for 'start'
  e: right, // 'e' stands for 'end'
  t: top,
  b: bottom,
);


// General margin
@each $size-name, $size-value in var.$sizes {
  .#{var.$prefix}m-#{$size-name} {
    margin: fn.size($size-value) !important;
  }
}


// Sides margins
@each $side-name, $side-value in $sides {
  @each $size-name, $size-value in var.$sizes {
    .#{var.$prefix}m#{$side-name}-#{$size-name} {
      @if $side-name == x {
        margin-left: fn.size($size-value) !important;
        margin-right: fn.size($size-value) !important;
      }
      @else if $side-name == y {
        margin-top: fn.size($size-value) !important;
        margin-bottom: fn.size($size-value) !important;
      }
      @else {
        margin-#{$side-value}: fn.size($size-value) !important;
      }
    }
  }
}




// Margins with breakpoints
@each $bp-name, $bp-value in bp.$breakpoints {
  @include bp.media($bp-name) {
    // General margin
    @each $size-name, $size-value in var.$sizes {
      .#{var.$prefix}m-#{$bp-name}-#{$size-name} {
        margin: fn.size($size-value) !important;
      }
    }


    // Sides margins
    @each $side-name, $side-value in $sides {
      @each $size-name, $size-value in var.$sizes {
        .#{var.$prefix}m#{$side-name}-#{$bp-name}-#{$size-name} {
          @if $side-name == x {
            margin-left: fn.size($size-value) !important;
            margin-right: fn.size($size-value) !important;
          }
          @else if $side-name == y {
            margin-top: fn.size($size-value) !important;
            margin-bottom: fn.size($size-value) !important;
          }
          @else {
            margin-#{$side-value}: fn.size($size-value) !important;
          }
        }
      }
    }
  }
}
