@use "sass:math";

$breakpoints: (
  sm: 576,
  md: 768,
  lg: 992,
  xl: 1200,
  xxl: 1400,
  xxxl: 1600,
);


/// Util to easily deal with media-queries
/// @name media
/// @param {} $bp - The breakpoint name (sm, md, lg...)
/// @content Returns the user code inside the media-query

@mixin media($bp) {
  @each $bp-name, $bp-value in $breakpoints {
    @if $bp == $bp-name {
      @media screen and (min-width: #{$bp-value}px) {
        @content;
      }
    }
  }
}