@use 'variables' as var;
@use 'sizes' as sz;
@use 'media-queries' as mq;

$overlaps: (
  t: top,
  b: bottom,
  s: left,
  e: right,
);


@each $overlap-name, $overlap-value in $overlaps {
  @each $size-name, $size-value in var.$sizes {
    .#{var.$prefix}ol#{$overlap-name}-#{$size-name} {
      #{$overlap-value}: sz.size($size-value) !important;
    }
  }
}

@each $bp-name, $bp-value in mq.$breakpoints {
  @include mq.media($bp-name) {
    @each $overlap-name, $overlap-value in $overlaps {
      @each $size-name, $size-value in var.$sizes {
        .#{var.$prefix}ol#{$overlap-name}-#{$bp-name}-#{$size-name} {
          #{$overlap-value}: sz.size($size-value) !important;
        }
      }
    }
  }
}