@use 'sizes';
@use 'media-queries' as mq;

$overlaps: (
  t: top,
  b: bottom,
  s: left,
  e: right,
);


@each $overlap-name, $overlap-value in $overlaps {
  @each $size-name, $size-value in $sizes {
    .b\:ol#{$overlap-name}-#{$size-name} {
      #{$overlap-value}: size($size-value) !important;
    }
  }
}

@each $bp-name, $bp-value in mq.$breakpoints {
  @include mq.media($bp-name) {
    @each $overlap-name, $overlap-value in $overlaps {
      @each $size-name, $size-value in $sizes {
        .b\:ol#{$overlap-name}-#{$bp-name}-#{$size-name} {
          #{$overlap-value}: size($size-value) !important;
        }
      }
    }
  }
}