@use 'sass:math';
@use 'sizes';

$sides: (
  x: x, // horizontal
  y: y, // vertical
  s: left, // 's' stands for 'start'
  e: right, // 'e' stands for 'end'
  t: top,
  b: bottom,
);


// General padding
@each $size-name, $size-value in $sizes {
  .b\:p-#{$size-name} {
    padding: size($size-value) !important;
  }
}



// Sides paddings
@each $side-name, $side-value in $sides {
  @each $size-name, $size-value in $sizes {
    .b\:p#{$side-name}-#{$size-name} {
      @if $side-name == x {
        padding-left: size($size-value) !important;
        padding-right: size($size-value) !important;
      }
      @else if $side-name == y {
        padding-top: size($size-value) !important;
        padding-bottom: size($size-value) !important;
      }
      @else {
        padding-#{$side-value}: size($size-value) !important;
      }
    }
  }
}



// Paddings with breakpoints
@each $query, $query-value in $queries {
  @include media($query-value) {
    $final-value: null;

    // General padding
    @each $size-name, $size-value in $sizes {
      .b\:p-#{$bp}-#{$size-name} {
        padding: size($size-value) !important;
      }
    }


    // Sides paddings
    @each $side-name, $side-value in $sides {
      @each $size-name, $size-value in $sizes {
        .b\:p#{$side-name}-#{$bp}-#{$size-name} {
          @if $side-name == x {
            padding-left: size($size-value) !important;
            padding-right: size($size-value) !important;
          }
          @else if $side-name == y {
            padding-top: size($size-value) !important;
            padding-bottom: size($size-value) !important;
          }
          @else {
            padding-#{$side-value}: size($size-value) !important;
          }
        }
      }
    }
  }
}