@use 'sass:math';
@use 'sizes' as size;
@use 'media-queries' as mq;

$sides: (
  x: x, // horizontal
  y: y, // vertical
  s: left, // 's' stands for 'start'
  e: right, // 'e' stands for 'end'
  t: top,
  b: bottom,
);


// General padding
@each $size-name, $size-value in size.$sizes {
  .b\:p-#{$size-name} {
    padding: size.size($size-value) !important;
  }
}


// Sides paddings
@each $side-name, $side-value in $sides {
  @each $size-name, $size-value in size.$sizes {
    .b\:p#{$side-name}-#{$size-name} {
      @if $side-name == x {
        padding-left: size.size($size-value) !important;
        padding-right: size.size($size-value) !important;
      }
      @else if $side-name == y {
        padding-top: size.size($size-value) !important;
        padding-bottom: size.size($size-value) !important;
      }
      @else {
        padding-#{$side-value}: size.size($size-value) !important;
      }
    }
  }
}



// Paddings with breakpoints
@each $bp-name, $bp-value in mq.$breakpoints {
  @include mq.media($bp-name) {
    // General padding
    @each $size-name, $size-value in size.$sizes {
      .b\:p-#{$bp-name}-#{$size-name} {
        padding: size.size($size-value) !important;
      }
    }


    // Sides paddings
    @each $side-name, $side-value in $sides {
      @each $size-name, $size-value in size.$sizes {
        .b\:p#{$side-name}-#{$bp-name}-#{$size-name} {
          @if $side-name == x {
            padding-left: size.size($size-value) !important;
            padding-right: size.size($size-value) !important;
          }
          @else if $side-name == y {
            padding-top: size.size($size-value) !important;
            padding-bottom: size.size($size-value) !important;
          }
          @else {
            padding-#{$side-value}: size.size($size-value) !important;
          }
        }
      }
    }
  }
}