@use 'variables' as var;
@use 'media-queries' as mq;

$positions: (
  relative,
  absolute,
  fixed,
  sticky,
  static,
  unset,
);

@each $position in $positions {
  .#{var.$prefix}p-#{$position} {
    position: #{$position} !important;
  }
}

@each $bp-name, $bp-value in mq.$breakpoints {
  @include mq.media($bp-name) {
    @each $position in $positions {
      .#{var.$prefix}p-#{$bp-name}-#{$position} {
        position: #{$position} !important;
      }
    }
  }
}

