@use 'variables' as var;
@use 'breakpoints' as bp;


$sizes: (
  0: 0,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);


@each $size-name, $size-value in $sizes {
  .#{var.$prefix}w-#{$size-name} {
    width: #{$size-value} !important;
  }
}



@each $bp-name, $bp-value in bp.$breakpoints {
  @include bp.media($bp-name) {
    @each $size-name, $size-value in $sizes {
      .#{var.$prefix}w-#{$bp-name}-#{$size-name} {
        width: #{$size-value} !important;
      }
    }
  }
}