html {
  font-size: 62.5% !important;
}

html, body {
  font-size: 1.6rem;
}

/**
 * Containers
*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .container-smaller,
.container-small,
.container-medium,
.container-large,
.container-larger {
    width: 660px;
    max-width: calc(100% - 48px) !important;
    margin: 0 auto !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container-smaller,
.container-small,
.container-medium,
.container-large,
.container-larger {
    width: 660px;
    max-width: calc(100% - 48px) !important;
    margin: 0 auto !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1365px) {
  .container-smaller {
    max-width: calc(100% - 48px) !important;
    width: 420px !important;
    margin: 0 auto !important;
  }

  .container-small {
    max-width: calc(100% - 48px) !important;
    width: 660px !important;
    margin: 0 auto !important;
  }

  .container-medium {
    max-width: calc(100% - 48px) !important;
    width: 760px !important;
    margin: 0 auto !important;
  }

  .container-large {
    max-width: calc(100% - 48px) !important;
    width: 993px !important;
    margin: 0 auto !important;
  }

  .container-larger {
    max-width: calc(100% - 48px) !important;
    width: 1280px !important;
    margin: 0 auto !important;
  }
}
@media only screen and (min-width: 1366px) {
  .container-smaller {
    max-width: calc(100% - 32px) !important;
    width: 420px !important;
    margin: 0 auto !important;
  }

  .container-small {
    max-width: calc(100% - 48px) !important;
    width: 660px !important;
    margin: 0 auto !important;
  }

  .container-medium {
    max-width: calc(100% - 48px) !important;
    width: 866px !important;
    margin: 0 auto !important;
  }

  .container-large {
    max-width: calc(100% - 48px) !important;
    width: 1280px !important;
    margin: 0 auto !important;
  }

  .container-larger {
    max-width: calc(100% - 48px) !important;
    width: 1300px !important;
    margin: 0 auto !important;
  }
}
/**
 * Cursor
*/
.cursor-cell {
  cursor: cell !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-grab {
  cursor: grab !important;
}

.cursor-grabbing {
  cursor: grabbing !important;
}

.cursor-move {
  cursor: move !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-progress {
  cursor: progress !important;
}

.cursor-resize-diagonal-1 {
  cursor: nw-resize !important;
}

.cursor-resize-diagonal-2 {
  cursor: ne-resize !important;
}

.cursor-resize-x {
  cursor: e-resize !important;
}

.cursor-resize-y {
  cursor: n-resize !important;
}

.cursor-text {
  cursor: text !important;
}

.cursor-wait {
  cursor: wait !important;
}

.cursor-zoom-in {
  cursor: zoom-in !important;
}

.cursor-zoom-out {
  cursor: zoom-out !important;
}

/**
 * Scroll
*/
.scroll-all {
  overflow: scroll !important;
}

.scroll-auto {
  overflow: auto !important;
}

.scroll-x-auto {
  overflow: hidden !important;
  overflow-x: auto !important;
}

.scroll-x {
  overflow: hidden !important;
  overflow-x: scroll !important;
}

.scroll-y-auto {
  overflow: hidden !important;
  overflow-y: auto !important;
}

.scroll-y {
  overflow: hidden !important;
  overflow-y: scroll !important;
}

/**
 * Text align
*/
.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.text-left {
  text-align: left !important;
}

.text-middle {
  display: grid !important;
  align-items: center !important;
}

.text-right {
  text-align: right !important;
}

/**
 * Text size
*/
.b\:fs-xxxs {
  font-size: 0.4rem !important;
}

.b\:fs-xxs {
  font-size: 0.8rem !important;
}

.b\:fs-xs {
  font-size: 1.2rem !important;
}

.b\:fs-sm {
  font-size: 1.6rem !important;
}

.b\:fs-md {
  font-size: 2.4rem !important;
}

.b\:fs-lg {
  font-size: 3.2rem !important;
}

.b\:fs-xl {
  font-size: 5.6rem !important;
}

.b\:fs-xxl {
  font-size: 7.2rem !important;
}

.b\:fs-xxxl {
  font-size: 11.2rem !important;
}

/**
 * Text spacing
*/
.text-spacing-smaller {
  letter-spacing: 0.1em !important;
}

.text-spacing-small {
  letter-spacing: 0.3em !important;
}

.text-spacing-medium {
  letter-spacing: 0.5em !important;
}

.text-spacing-large {
  letter-spacing: 0.7em !important;
}

.text-spacing-larger {
  letter-spacing: 0.9em !important;
}

/**
 * Text style
*/
.text-italic {
  font-style: italic !important;
}

.text-strike {
  text-decoration: line-through !important;
}

.text-underline {
  text-decoration: underline !important;
}

/**
 * Text weight
*/
.text-light {
  font-weight: 400 !important;
}

.text-lighter {
  font-weight: 100 !important;
}

.text-strong {
  font-weight: 500 !important;
}

.text-stronger {
  font-weight: 900 !important;
}

/**
 * Text transform
*/
.text-capitalize {
  text-transform: capitalize !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

/**
* Preset sizes
*/
.b\:row {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 576px) {
  .b\:row .b\:col-sm-1 {
    width: 8.3333333333%;
  }

  .b\:row .b\:col-sm-2 {
    width: 16.6666666667%;
  }

  .b\:row .b\:col-sm-3 {
    width: 25%;
  }

  .b\:row .b\:col-sm-4 {
    width: 33.3333333333%;
  }

  .b\:row .b\:col-sm-5 {
    width: 41.6666666667%;
  }

  .b\:row .b\:col-sm-6 {
    width: 50%;
  }

  .b\:row .b\:col-sm-7 {
    width: 58.3333333333%;
  }

  .b\:row .b\:col-sm-8 {
    width: 66.6666666667%;
  }

  .b\:row .b\:col-sm-9 {
    width: 75%;
  }

  .b\:row .b\:col-sm-10 {
    width: 83.3333333333%;
  }

  .b\:row .b\:col-sm-11 {
    width: 91.6666666667%;
  }

  .b\:row .b\:col-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .b\:row .b\:col-md-1 {
    width: 8.3333333333%;
  }

  .b\:row .b\:col-md-2 {
    width: 16.6666666667%;
  }

  .b\:row .b\:col-md-3 {
    width: 25%;
  }

  .b\:row .b\:col-md-4 {
    width: 33.3333333333%;
  }

  .b\:row .b\:col-md-5 {
    width: 41.6666666667%;
  }

  .b\:row .b\:col-md-6 {
    width: 50%;
  }

  .b\:row .b\:col-md-7 {
    width: 58.3333333333%;
  }

  .b\:row .b\:col-md-8 {
    width: 66.6666666667%;
  }

  .b\:row .b\:col-md-9 {
    width: 75%;
  }

  .b\:row .b\:col-md-10 {
    width: 83.3333333333%;
  }

  .b\:row .b\:col-md-11 {
    width: 91.6666666667%;
  }

  .b\:row .b\:col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .b\:row .b\:col-lg-1 {
    width: 8.3333333333%;
  }

  .b\:row .b\:col-lg-2 {
    width: 16.6666666667%;
  }

  .b\:row .b\:col-lg-3 {
    width: 25%;
  }

  .b\:row .b\:col-lg-4 {
    width: 33.3333333333%;
  }

  .b\:row .b\:col-lg-5 {
    width: 41.6666666667%;
  }

  .b\:row .b\:col-lg-6 {
    width: 50%;
  }

  .b\:row .b\:col-lg-7 {
    width: 58.3333333333%;
  }

  .b\:row .b\:col-lg-8 {
    width: 66.6666666667%;
  }

  .b\:row .b\:col-lg-9 {
    width: 75%;
  }

  .b\:row .b\:col-lg-10 {
    width: 83.3333333333%;
  }

  .b\:row .b\:col-lg-11 {
    width: 91.6666666667%;
  }

  .b\:row .b\:col-lg-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .b\:row .b\:col-xl-1 {
    width: 8.3333333333%;
  }

  .b\:row .b\:col-xl-2 {
    width: 16.6666666667%;
  }

  .b\:row .b\:col-xl-3 {
    width: 25%;
  }

  .b\:row .b\:col-xl-4 {
    width: 33.3333333333%;
  }

  .b\:row .b\:col-xl-5 {
    width: 41.6666666667%;
  }

  .b\:row .b\:col-xl-6 {
    width: 50%;
  }

  .b\:row .b\:col-xl-7 {
    width: 58.3333333333%;
  }

  .b\:row .b\:col-xl-8 {
    width: 66.6666666667%;
  }

  .b\:row .b\:col-xl-9 {
    width: 75%;
  }

  .b\:row .b\:col-xl-10 {
    width: 83.3333333333%;
  }

  .b\:row .b\:col-xl-11 {
    width: 91.6666666667%;
  }

  .b\:row .b\:col-xl-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .b\:row .b\:col-xxl-1 {
    width: 8.3333333333%;
  }

  .b\:row .b\:col-xxl-2 {
    width: 16.6666666667%;
  }

  .b\:row .b\:col-xxl-3 {
    width: 25%;
  }

  .b\:row .b\:col-xxl-4 {
    width: 33.3333333333%;
  }

  .b\:row .b\:col-xxl-5 {
    width: 41.6666666667%;
  }

  .b\:row .b\:col-xxl-6 {
    width: 50%;
  }

  .b\:row .b\:col-xxl-7 {
    width: 58.3333333333%;
  }

  .b\:row .b\:col-xxl-8 {
    width: 66.6666666667%;
  }

  .b\:row .b\:col-xxl-9 {
    width: 75%;
  }

  .b\:row .b\:col-xxl-10 {
    width: 83.3333333333%;
  }

  .b\:row .b\:col-xxl-11 {
    width: 91.6666666667%;
  }

  .b\:row .b\:col-xxl-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1600px) {
  .b\:row .b\:col-xxxl-1 {
    width: 8.3333333333%;
  }

  .b\:row .b\:col-xxxl-2 {
    width: 16.6666666667%;
  }

  .b\:row .b\:col-xxxl-3 {
    width: 25%;
  }

  .b\:row .b\:col-xxxl-4 {
    width: 33.3333333333%;
  }

  .b\:row .b\:col-xxxl-5 {
    width: 41.6666666667%;
  }

  .b\:row .b\:col-xxxl-6 {
    width: 50%;
  }

  .b\:row .b\:col-xxxl-7 {
    width: 58.3333333333%;
  }

  .b\:row .b\:col-xxxl-8 {
    width: 66.6666666667%;
  }

  .b\:row .b\:col-xxxl-9 {
    width: 75%;
  }

  .b\:row .b\:col-xxxl-10 {
    width: 83.3333333333%;
  }

  .b\:row .b\:col-xxxl-11 {
    width: 91.6666666667%;
  }

  .b\:row .b\:col-xxxl-12 {
    width: 100%;
  }
}
.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.half-width {
  width: 50% !important;
}

.half-height {
  height: 50% !important;
}

.fullscreen {
  height: 100vh !important;
  width: 100vw !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}

/**
 * Paddings
 */
.b\:p-xxxs {
  padding: 0.4rem !important;
}

.b\:p-xxs {
  padding: 0.8rem !important;
}

.b\:p-xs {
  padding: 1.2rem !important;
}

.b\:p-sm {
  padding: 1.6rem !important;
}

.b\:p-md {
  padding: 2.4rem !important;
}

.b\:p-lg {
  padding: 3.2rem !important;
}

.b\:p-xl {
  padding: 5.6rem !important;
}

.b\:p-xxl {
  padding: 7.2rem !important;
}

.b\:p-xxxl {
  padding: 11.2rem !important;
}

.b\:px-xxxs {
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
}

.b\:px-xxs {
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

.b\:px-xs {
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
}

.b\:px-sm {
  padding-left: 1.6rem !important;
  padding-right: 1.6rem !important;
}

.b\:px-md {
  padding-left: 2.4rem !important;
  padding-right: 2.4rem !important;
}

.b\:px-lg {
  padding-left: 3.2rem !important;
  padding-right: 3.2rem !important;
}

.b\:px-xl {
  padding-left: 5.6rem !important;
  padding-right: 5.6rem !important;
}

.b\:px-xxl {
  padding-left: 7.2rem !important;
  padding-right: 7.2rem !important;
}

.b\:px-xxxl {
  padding-left: 11.2rem !important;
  padding-right: 11.2rem !important;
}

.b\:py-xxxs {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

.b\:py-xxs {
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

.b\:py-xs {
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
}

.b\:py-sm {
  padding-top: 1.6rem !important;
  padding-bottom: 1.6rem !important;
}

.b\:py-md {
  padding-top: 2.4rem !important;
  padding-bottom: 2.4rem !important;
}

.b\:py-lg {
  padding-top: 3.2rem !important;
  padding-bottom: 3.2rem !important;
}

.b\:py-xl {
  padding-top: 5.6rem !important;
  padding-bottom: 5.6rem !important;
}

.b\:py-xxl {
  padding-top: 7.2rem !important;
  padding-bottom: 7.2rem !important;
}

.b\:py-xxxl {
  padding-top: 11.2rem !important;
  padding-bottom: 11.2rem !important;
}

.b\:ps-xxxs {
  padding-left: 0.4rem !important;
}

.b\:ps-xxs {
  padding-left: 0.8rem !important;
}

.b\:ps-xs {
  padding-left: 1.2rem !important;
}

.b\:ps-sm {
  padding-left: 1.6rem !important;
}

.b\:ps-md {
  padding-left: 2.4rem !important;
}

.b\:ps-lg {
  padding-left: 3.2rem !important;
}

.b\:ps-xl {
  padding-left: 5.6rem !important;
}

.b\:ps-xxl {
  padding-left: 7.2rem !important;
}

.b\:ps-xxxl {
  padding-left: 11.2rem !important;
}

.b\:pe-xxxs {
  padding-right: 0.4rem !important;
}

.b\:pe-xxs {
  padding-right: 0.8rem !important;
}

.b\:pe-xs {
  padding-right: 1.2rem !important;
}

.b\:pe-sm {
  padding-right: 1.6rem !important;
}

.b\:pe-md {
  padding-right: 2.4rem !important;
}

.b\:pe-lg {
  padding-right: 3.2rem !important;
}

.b\:pe-xl {
  padding-right: 5.6rem !important;
}

.b\:pe-xxl {
  padding-right: 7.2rem !important;
}

.b\:pe-xxxl {
  padding-right: 11.2rem !important;
}

.b\:pt-xxxs {
  padding-top: 0.4rem !important;
}

.b\:pt-xxs {
  padding-top: 0.8rem !important;
}

.b\:pt-xs {
  padding-top: 1.2rem !important;
}

.b\:pt-sm {
  padding-top: 1.6rem !important;
}

.b\:pt-md {
  padding-top: 2.4rem !important;
}

.b\:pt-lg {
  padding-top: 3.2rem !important;
}

.b\:pt-xl {
  padding-top: 5.6rem !important;
}

.b\:pt-xxl {
  padding-top: 7.2rem !important;
}

.b\:pt-xxxl {
  padding-top: 11.2rem !important;
}

.b\:pb-xxxs {
  padding-bottom: 0.4rem !important;
}

.b\:pb-xxs {
  padding-bottom: 0.8rem !important;
}

.b\:pb-xs {
  padding-bottom: 1.2rem !important;
}

.b\:pb-sm {
  padding-bottom: 1.6rem !important;
}

.b\:pb-md {
  padding-bottom: 2.4rem !important;
}

.b\:pb-lg {
  padding-bottom: 3.2rem !important;
}

.b\:pb-xl {
  padding-bottom: 5.6rem !important;
}

.b\:pb-xxl {
  padding-bottom: 7.2rem !important;
}

.b\:pb-xxxl {
  padding-bottom: 11.2rem !important;
}

/**
 * Rounded corners
*/
.ellipsis {
  border-radius: 50% !important;
}

.border-radius-smaller {
  border-radius: 2px !important;
}

.border-radius-small {
  border-radius: 4px !important;
}

.border-radius-medium {
  border-radius: 8px !important;
}

.border-radius-large {
  border-radius: 16px !important;
}

.border-radius-larger {
  border-radius: 32px !important;
}

/**
 * Shadows
*/
.shadow-0 {
  box-shadow: none !important;
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}

/**
 * Behavior
*/
.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-relative {
  position: relative !important;
}

.position-sticky {
  position: sticky !important;
  top: 0;
  z-index: 1;
}

/**
 * Position
*/
.bottom-left {
  position: absolute;
  bottom: 0 !important;
  left: 0 !important;
}

.bottom-middle {
  position: absolute;
  bottom: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.bottom-right {
  position: absolute;
  bottom: 0 !important;
  right: 0 !important;
}

.center {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.top-left {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
}

.top-middle {
  position: absolute;
  top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.top-right {
  position: absolute;
  top: 0 !important;
  right: 0 !important;
}

/**
 * Floats
*/
.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

/**
 * Margins
 */
.b\:m-xxxs {
  margin: 0.4rem !important;
}

.b\:m-xxs {
  margin: 0.8rem !important;
}

.b\:m-xs {
  margin: 1.2rem !important;
}

.b\:m-sm {
  margin: 1.6rem !important;
}

.b\:m-md {
  margin: 2.4rem !important;
}

.b\:m-lg {
  margin: 3.2rem !important;
}

.b\:m-xl {
  margin: 5.6rem !important;
}

.b\:m-xxl {
  margin: 7.2rem !important;
}

.b\:m-xxxl {
  margin: 11.2rem !important;
}

.b\:mx-xxxs {
  margin-left: 0.4rem !important;
  margin-right: 0.4rem !important;
}

.b\:mx-xxs {
  margin-left: 0.8rem !important;
  margin-right: 0.8rem !important;
}

.b\:mx-xs {
  margin-left: 1.2rem !important;
  margin-right: 1.2rem !important;
}

.b\:mx-sm {
  margin-left: 1.6rem !important;
  margin-right: 1.6rem !important;
}

.b\:mx-md {
  margin-left: 2.4rem !important;
  margin-right: 2.4rem !important;
}

.b\:mx-lg {
  margin-left: 3.2rem !important;
  margin-right: 3.2rem !important;
}

.b\:mx-xl {
  margin-left: 5.6rem !important;
  margin-right: 5.6rem !important;
}

.b\:mx-xxl {
  margin-left: 7.2rem !important;
  margin-right: 7.2rem !important;
}

.b\:mx-xxxl {
  margin-left: 11.2rem !important;
  margin-right: 11.2rem !important;
}

.b\:my-xxxs {
  margin-top: 0.4rem !important;
  margin-bottom: 0.4rem !important;
}

.b\:my-xxs {
  margin-top: 0.8rem !important;
  margin-bottom: 0.8rem !important;
}

.b\:my-xs {
  margin-top: 1.2rem !important;
  margin-bottom: 1.2rem !important;
}

.b\:my-sm {
  margin-top: 1.6rem !important;
  margin-bottom: 1.6rem !important;
}

.b\:my-md {
  margin-top: 2.4rem !important;
  margin-bottom: 2.4rem !important;
}

.b\:my-lg {
  margin-top: 3.2rem !important;
  margin-bottom: 3.2rem !important;
}

.b\:my-xl {
  margin-top: 5.6rem !important;
  margin-bottom: 5.6rem !important;
}

.b\:my-xxl {
  margin-top: 7.2rem !important;
  margin-bottom: 7.2rem !important;
}

.b\:my-xxxl {
  margin-top: 11.2rem !important;
  margin-bottom: 11.2rem !important;
}

.b\:ms-xxxs {
  margin-left: 0.4rem !important;
}

.b\:ms-xxs {
  margin-left: 0.8rem !important;
}

.b\:ms-xs {
  margin-left: 1.2rem !important;
}

.b\:ms-sm {
  margin-left: 1.6rem !important;
}

.b\:ms-md {
  margin-left: 2.4rem !important;
}

.b\:ms-lg {
  margin-left: 3.2rem !important;
}

.b\:ms-xl {
  margin-left: 5.6rem !important;
}

.b\:ms-xxl {
  margin-left: 7.2rem !important;
}

.b\:ms-xxxl {
  margin-left: 11.2rem !important;
}

.b\:me-xxxs {
  margin-right: 0.4rem !important;
}

.b\:me-xxs {
  margin-right: 0.8rem !important;
}

.b\:me-xs {
  margin-right: 1.2rem !important;
}

.b\:me-sm {
  margin-right: 1.6rem !important;
}

.b\:me-md {
  margin-right: 2.4rem !important;
}

.b\:me-lg {
  margin-right: 3.2rem !important;
}

.b\:me-xl {
  margin-right: 5.6rem !important;
}

.b\:me-xxl {
  margin-right: 7.2rem !important;
}

.b\:me-xxxl {
  margin-right: 11.2rem !important;
}

.b\:mt-xxxs {
  margin-top: 0.4rem !important;
}

.b\:mt-xxs {
  margin-top: 0.8rem !important;
}

.b\:mt-xs {
  margin-top: 1.2rem !important;
}

.b\:mt-sm {
  margin-top: 1.6rem !important;
}

.b\:mt-md {
  margin-top: 2.4rem !important;
}

.b\:mt-lg {
  margin-top: 3.2rem !important;
}

.b\:mt-xl {
  margin-top: 5.6rem !important;
}

.b\:mt-xxl {
  margin-top: 7.2rem !important;
}

.b\:mt-xxxl {
  margin-top: 11.2rem !important;
}

.b\:mb-xxxs {
  margin-bottom: 0.4rem !important;
}

.b\:mb-xxs {
  margin-bottom: 0.8rem !important;
}

.b\:mb-xs {
  margin-bottom: 1.2rem !important;
}

.b\:mb-sm {
  margin-bottom: 1.6rem !important;
}

.b\:mb-md {
  margin-bottom: 2.4rem !important;
}

.b\:mb-lg {
  margin-bottom: 3.2rem !important;
}

.b\:mb-xl {
  margin-bottom: 5.6rem !important;
}

.b\:mb-xxl {
  margin-bottom: 7.2rem !important;
}

.b\:mb-xxxl {
  margin-bottom: 11.2rem !important;
}

/**
 * Overlap top (adds a negative margin-top)
*/
.overlap-top-smaller {
  margin-top: -8px !important;
}

.overlap-top-small {
  margin-top: -16px !important;
}

.overlap-top-medium {
  margin-top: -24px !important;
}

.overlap-top-large {
  margin-top: -56px !important;
}

.overlap-top-larger {
  margin-top: -72px !important;
}

/**
 * Overlap bottom (adds a negative margin-bottom)
 * IMPORTANT: the parent element needs to have a position-relative class
*/
.overlap-bottom-smaller {
  position: relative;
  bottom: 0 !important;
  margin-bottom: -8px !important;
}

.overlap-bottom-small {
  position: relative;
  bottom: 0 !important;
  margin-bottom: -16px !important;
}

.overlap-bottom-medium {
  position: relative;
  bottom: 0 !important;
  margin-bottom: -24px !important;
}

.overlap-bottom-large {
  position: relative;
  bottom: 0 !important;
  margin-bottom: -56px !important;
}

.overlap-bottom-larger {
  position: relative;
  bottom: 0 !important;
  margin-bottom: -72px !important;
}

/**
 * Blur
*/
.blur-1 {
  filter: blur(4px) !important;
}

.blur-2 {
  filter: blur(16px) !important;
}

.blur-3 {
  filter: blur(24px) !important;
}

/**
 * Display
*/
.display-block {
  display: block !important;
}

.display-flex {
  display: flex !important;
}

.display-grid {
  display: grid !important;
}

.display-inline-block {
  display: inline-block !important;
}

.display-inline-flex {
  display: inline-flex !important;
}

.display-inline {
  display: inline !important;
}

.display-none {
  display: none !important;
}

.display-unset {
  display: unset !important;
}

/**
 * Frost glass
*/
.frost-glass-1 {
  backdrop-filter: blur(4px) !important;
}

.frost-glass-1.dark {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.frost-glass-1.light {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.frost-glass-2 {
  backdrop-filter: blur(16px) !important;
}

.frost-glass-2.dark {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.frost-glass-2.light {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.frost-glass-3 {
  backdrop-filter: blur(24px) !important;
}

.frost-glass-3.dark {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.frost-glass-3.light {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

/**
 * No Float
*/
.no-float {
  float: none !important;
}

/**
 * No Margins
*/
.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-x {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-margin-y {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

/**
 * No Mouse Actions
*/
.no-click {
  pointer-events: none !important;
}

.no-scroll-x {
  overflow-x: hidden !important;
}

.no-scroll-y {
  overflow-y: hidden !important;
}

.no-scroll {
  overflow: hidden !important;
}

.no-select {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -o-user-select: none !important;
}

/**
 * No Paddings
*/
.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-x {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-padding-y {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

/**
 * No Visibility
 * no-display has the same effect as display-none
*/
.no-display {
  display: none !important;
}

.no-opacity {
  opacity: 0 !important;
}

/*# sourceMappingURL=helpers.css.map */
