/*--------------------------------------------------------------
# Helpers.css
--------------------------------------------------------------*/

html,
body {
  height: 100%;
}

.normalize-line-height {
  line-height: 1em !important;
  display: block !important;
}


/** ---------------------------------------
 * Alignments
 **/


/* text */

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.no-justify {
  text-align: unset !important;
}


/* elements */

.no-flex {
  display: block !important;
  width: 100% !important;
}

.flex {
  display: flex !important;
}

@media all and (min-width: 993px) {
  .flex-on-med-and-up {
    display: flex !important;
  }
}

.display-block {
  display: block;
}

.display-inline {
  display: inline-flex !important;
}

.centered {
  margin-left: auto !important;
  margin-right: auto !important;
  width: fit-content;
}

.position-absolute {
  position: absolute !important;
  width: 100%;
  height: 100%;
}


/* Sizes */

.full-height {
  height: 100% !important;
}

.size-100 {
  height: 100px !important;
  width: 100px !important;
}

.size-150 {
  height: 150px;
  width: 150px !important;
}

.size-200 {
  height: 200px !important;
  width: 200px !important;
}

.size-250 {
  height: 250px !important;
  width: 250px !important;
}

.size-300 {
  height: 300px !important;
  width: 300px !important;
}

.size-400 {
  height: 400px !important;
  width: 400px !important;
}

.height-100 {
  height: 100px !important;
}

.height-200 {
  height: 200px !important;
}

.height-250 {
  height: 250px !important;
}

.height-300 {
  height: 300px !important;
}

.height-400 {
  height: 400px !important;
}

.full-width {
  width: 100% !important;
}

.width-100 {
  width: 100px !important;
}

.width-200 {
  width: 200px !important;
}

.width-300 {
  width: 300px !important;
}

.width-400 {
  width: 400px !important;
}

.max-width-100 {
  max-width: 100px !important;
}

.max-width-200 {
  max-width: 200px !important;
}

.max-width-300 {
  max-width: 300px !important;
}

.max-width-400 {
  max-width: 400px !important;
}

.clickable {
  cursor: pointer !important;
}

.hover-scale {
  transition: .05s ease-in-out !important;
}

.hover-scale:hover {
  transform: scale(1.02) !important;
}

.hover-scale-tilt {
  transition: .1s ease-in-out !important;
}

.hover-scale-tilt:hover {
  transform: scale(1.05) rotate(5deg) !important;
}

.hover-accent--bg {
  transition: .05s ease-in-out !important;
}

.hover-accent--bg:hover {
  color: #fff !important;
  background-color: var(--accent-color) !important;
}

.hover-scale:active {
  transform: scale(1) !important;
}

.no-display {
  display: none !important;
}

.no-scroll {
  overflow: hidden !important;
}

.no-select {
  user-select: none !important;
}

.no-click {
  pointer-events: none !important;
}


/** ---------------------------------------
 * Text
 **/


/* color */

.white-text-alpha-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}


/* font-size */

.text-smaller {
  font-size: .8rem !important;
}

.text-small {
  font-size: .85rem !important;
}

.text-medium {
  font-size: 1.2em !important;
}

.text-big {
  font-size: 1.5em !important;
  line-height: 1.5em;
}

.text-bigger {
  font-size: 2.7em !important;
}

@media all and (max-width: 768px) {
  .text-smaller {
    font-size: .8rem !important;
  }
  .text-small {
    font-size: .9rem !important;
  }
  .text-medium {
    font-size: 1.2em !important;
  }
  .text-big {
    font-size: 1.3em !important;
    line-height: 1.3em;
  }
  .text-bigger {
    font-size: 2rem !important;
    line-height: 2rem;
  }
}


/* font-weight */

.light {
  font-weight: lighter !important;
}

.strong {
  font-weight: bold !important;
}

.stronger {
  font-weight: bolder !important;
}

.text-spacing-1 {
  letter-spacing: 1px;
}

.text-spacing-3 {
  letter-spacing: 3px;
}

.text-spacing-5 {
  letter-spacing: 5px;
}

.text-spacing-7 {
  letter-spacing: 7px;
}


/* text-transform */

.lowercase {
  text-transform: lowercase !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.capitalize {
  text-transform: capitalize !important;
}


/** ---------------------------------------
 * Paddings
 **/

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}


/* Top */

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-16 {
  padding-top: 16px !important;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.padding-top-50 {
  padding-top: 50px !important;
}

.padding-top-70 {
  padding-top: 70px !important;
}

.padding-top-100 {
  padding-top: 100px !important;
}

.padding-top-150 {
  padding-top: 150px !important;
}


/* Bottom */

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-16 {
  padding-bottom: 16px !important;
}

.padding-bottom-25 {
  padding-bottom: 25px !important;
}

.padding-bottom-50 {
  padding-bottom: 50px !important;
}

.padding-bottom-100 {
  padding-bottom: 100px !important;
}

.padding-bottom-150 {
  padding-bottom: 150px !important;
}


/* Left */

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-left-16 {
  padding-left: 16px !important;
}

.padding-left-25 {
  padding-left: 25px !important;
}

.padding-left-50 {
  padding-left: 50px !important;
}

.padding-left-100 {
  padding-left: 100px !important;
}

.padding-left-150 {
  padding-left: 150px !important;
}


/* Right */

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-right-16 {
  padding-right: 16px !important;
}

.padding-right-25 {
  padding-right: 25px !important;
}

.padding-right-50 {
  padding-right: 50px !important;
}

.padding-right-100 {
  padding-right: 100px !important;
}

.padding-right-150 {
  padding-right: 150px !important;
}


/* General */

.padding-10 {
  padding: 10px !important;
}

.padding-16 {
  padding: 16px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-150 {
  padding: 150px !important;
}


/* padding-x */

.no-padding-x {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.padding-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.padding-x-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.padding-x-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.padding-x-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.padding-x-100 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.padding-x-150 {
  padding-left: 150px !important;
  padding-right: 150px !important;
}


/* padding-y */

.no-padding-y {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.padding-y-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.padding-y-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.padding-y-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.padding-y-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.padding-y-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.padding-y-150 {
  padding-top: 150px !important;
  padding-bottom: 150px !important;
}


/** ---------------------------------------
 * Margins
 **/

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}


/* margin-x */

.no-margin-x {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.margin-x-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.margin-x-16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.margin-x-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.margin-x-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.margin-x-100 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.margin-x-150 {
  margin-left: 150px !important;
  margin-right: 150px !important;
}


/* margin-y */

.no-margin-y {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.margin-y-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.margin-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.margin-y-16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.margin-y-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.margin-y-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.margin-y-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.margin-y-150 {
  margin-top: 150px !important;
  margin-bottom: 150px !important;
}


/* margin-left */

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-16 {
  margin-left: 16px !important;
}

.margin-left-25 {
  margin-left: 25px !important;
}

.margin-left-50 {
  margin-left: 50px !important;
}

.margin-left-100 {
  margin-left: 100px !important;
}

.margin-left-150 {
  margin-left: 150px !important;
}


/* margin-right */

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-16 {
  margin-right: 16px !important;
}

.margin-right-25 {
  margin-right: 25px !important;
}

.margin-right-50 {
  margin-right: 50px !important;
}

.margin-right-100 {
  margin-right: 100px !important;
}

.margin-right-150 {
  margin-right: 150px !important;
}


/* margin-top */

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-16 {
  margin-top: 16px !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-top-70 {
  margin-top: 70px !important;
}

.margin-top-100 {
  margin-top: 100px !important;
}

.margin-top-150 {
  margin-top: 150px !important;
}


/* margin-bottom */

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-16 {
  margin-bottom: 16px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px !important;
}

.margin-bottom-150 {
  margin-bottom: 150px !important;
}


/** ---------------------------------------
 * Borders
 **/

.no-border {
  border: none !important;
}


/* border-radius */

.border-radius-0 {
  border-radius: 0 !important;
}

.border-radius-4 {
  border-radius: 4px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.border-radius-15 {
  border-radius: 15px !important;
}

.border-radius-20 {
  border-radius: 20px !important;
}

.border-radius-25 {
  border-radius: 25px !important;
}

.ellipsis {
  border-radius: 50% !important;
  text-align: center;
  height: auto;
  overflow: hidden;
}

.ellipsis.smaller {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 1.2rem;
}

.ellipsis.small {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 1.5em;
}

.ellipsis.medium {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 2.5em;
}

.ellipsis.big {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 5.5em;
}


/* box-shadow */

.shadow-low {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.shadow-low.hover-scale:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2) !important;
}

.shadow-low.hover-scale:active {
  box-shadow: none !important;
}

.shadow-medium {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3) !important;
}

.shadow-high {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5) !important;
}


/* Negative offset */

.offset-up-5 {
  margin-top: -5px !important;
}

.offset-up-10 {
  margin-top: -10px !important;
}

.offset-up-15 {
  margin-top: -15px !important;
}

.offset-up-25 {
  margin-top: -25px !important;
}

.offset-up-50 {
  margin-top: -50px !important;
}

.offset-up-75 {
  top: -75px !important;
  position: relative;
}

.offset-up-100 {
  margin-top: -100px !important;
}

.offset-up-150 {
  margin-top: -150px !important;
}

.offset-down-25 {
  bottom: 16px !important;
  position: relative;
  max-height: 215px;
}

.offset-down-50 {
  bottom: 16px !important;
  position: relative;
  max-height: 190px;
}

.offset-down-75 {
  bottom: 16px !important;
  position: relative;
  max-height: 165px;
}

.offset-down-100 {
  bottom: 16px !important;
  position: relative;
  max-height: 150px;
}

.offset-down-150 {
  bottom: 16px !important;
  position: relative;
  max-height: 100px;
}


/** ---------------------------------------
 * Effects
 **/

.blur {
  filter: blur(10px) !important;
}


/** ---------------------------------------
 * Containers
 **/

.transition-fast {
  transition: .2s ease-in-out;
}


/** ---------------------------------------
 * Containers
 **/

@media all and (min-width: 1280px) {
  .container-smaller {
    width: 420px;
    margin: 0 auto;
  }
  .container-small {
    width: 700px;
    margin: 0 auto;
  }
  .container-medium {
    width: 960px;
    margin: 0 auto;
  }
  .container-large {
    max-width: 90%;
    width: 1280px;
    margin: 0 auto;
  }
  .container {
    width: 70%;
    margin: 0 auto;
  }
}

@media all and (max-width: 1279px) {
  .container-smaller {
    width: 70%;
    margin: 0 auto;
  }
  .container-small {
    width: 70%;
    margin: 0 auto;
  }
  .container-medium {
    width: 830px;
    max-width: 90%;
    margin: 0 auto;
  }
  .container-large {
    width: 90%;
    margin: 0 auto;
  }
  .container {
    width: 81%;
    margin: 0 auto;
  }
}

@media all and (max-width: 768px) {
  .container-smaller,
  .container-small,
  .container-medium,
  .container-large {
    width: 90%;
    margin: 0 auto;
  }
  .container {
    width: 81%;
    margin: 0 auto;
  }
}