/**
 * Containers
*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .container-smaller {
    width: 95%;
    margin: 0 auto;
  }

  .container-small {
    width: 95%;
    margin: 0 auto;
  }

  .container-medium {
    width: 95%;
    margin: 0 auto;
  }

  .container-large {
    width: 95%;
    margin: 0 auto;
  }

  .container-larger {
    width: 95%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container-smaller {
    width: 90%;
    margin: 0 auto;
  }

  .container-small {
    width: 90%;
    margin: 0 auto;
  }

  .container-medium {
    width: 90%;
    margin: 0 auto;
  }

  .container-large {
    width: 90%;
    margin: 0 auto;
  }

  .container-larger {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1365px) {
  .container-smaller {
    width: 420px;
    margin: 0 auto;
  }

  .container-small {
    width: 660px;
    margin: 0 auto;
  }

  .container-medium {
    width: 760px;
    margin: 0 auto;
  }

  .container-large {
    max-width: 90%;
    width: 993px;
    margin: 0 auto;
  }

  .container-larger {
    max-width: 90%;
    width: 1280px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1366px) {
  .container-smaller {
    width: 420px;
    margin: 0 auto;
  }

  .container-small {
    width: 660px;
    margin: 0 auto;
  }

  .container-medium {
    width: 866px;
    margin: 0 auto;
  }

  .container-large {
    max-width: 90%;
    width: 1280px;
    margin: 0 auto;
  }

  .container-larger {
    max-width: 90%;
    width: 1300px;
    margin: 0 auto;
  }
}
/**
 * Cursor
*/
.cursor-cell {
  cursor: cell;
}

.cursor-default {
  cursor: default;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.cursor-move {
  cursor: move;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-progress {
  cursor: progress;
}

.cursor-resize-diagonal-1 {
  cursor: nw-resize;
}

.cursor-resize-diagonal-2 {
  cursor: ne-resize;
}

.cursor-resize-x {
  cursor: e-resize;
}

.cursor-resize-y {
  cursor: n-resize;
}

.cursor-text {
  cursor: text;
}

.cursor-wait {
  cursor: wait;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.cursor-zoom-out {
  cursor: zoom-out;
}

/**
 * Scroll
*/
.scroll-all {
  overflow: scroll;
}

.scroll-auto {
  overflow: auto;
}

.scroll-x-auto {
  overflow: hidden;
  overflow-x: auto;
}

.scroll-x {
  overflow: hidden;
  overflow-x: scroll;
}

.scroll-y-auto {
  overflow: hidden;
  overflow-y: auto;
}

.scroll-y {
  overflow: hidden;
  overflow-y: scroll;
}

/**
 * Text align
*/
.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/**
 * Text size
*/
.text-smaller {
  font-size: smaller;
}

.text-small {
  font-size: small;
}

.text-medium {
  font-size: medium;
}

.text-large {
  font-size: large;
}

.text-larger {
  font-size: larger;
}

/**
 * Text spacing
*/
.text-spacing-smaller {
  letter-spacing: 1px;
}

.text-spacing-small {
  letter-spacing: 3px;
}

.text-spacing-medium {
  letter-spacing: 5px;
}

.text-spacing-large {
  letter-spacing: 7px;
}

.text-spacing-larger {
  letter-spacing: 9px;
}

/**
 * Text style
*/
.text-italic {
  font-style: italic;
}

.text-strike {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

/**
 * Text weight
*/
.text-light {
  font-weight: 400;
}

.text-lighter {
  font-weight: lighter;
}

.text-strong {
  font-weight: bold;
}

.text-stronger {
  font-weight: bolder;
}

/**
 * Text transform
*/
.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

/**
* Padding general
*/
.padding-smaller {
  padding: 8px;
}

.padding-small {
  padding: 16px;
}

.padding-medium {
  padding: 24px;
}

.padding-large {
  padding: 56px;
}

.padding-larger {
  padding: 72px;
}

/**
 * Padding horizontal
*/
.padding-x-smaller {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-x-small {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-x-medium {
  padding-left: 24px;
  padding-right: 24px;
}

.padding-x-large {
  padding-left: 56px;
  padding-right: 56px;
}

.padding-x-larger {
  padding-left: 72px;
  padding-right: 72px;
}

/**
 * Padding vertical
*/
.padding-y-smaller {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-y-small {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding-y-medium {
  padding-top: 24px;
  padding-bottom: 24px;
}

.padding-y-large {
  padding-top: 56px;
  padding-bottom: 56px;
}

.padding-y-larger {
  padding-top: 72px;
  padding-bottom: 72px;
}

/**
 * Padding top
*/
.padding-top-smaller {
  padding-top: 8px;
}

.padding-top-small {
  padding-top: 16px;
}

.padding-top-medium {
  padding-top: 24px;
}

.padding-top-large {
  padding-top: 56px;
}

.padding-top-larger {
  padding-top: 72px;
}

/**
 * Padding bottom
*/
.padding-bottom-smaller {
  padding-bottom: 8px;
}

.padding-bottom-small {
  padding-bottom: 16px;
}

.padding-bottom-medium {
  padding-bottom: 24px;
}

.padding-bottom-large {
  padding-bottom: 56px;
}

.padding-bottom-larger {
  padding-bottom: 72px;
}

/**
 * Padding left
*/
.padding-left-smaller {
  padding-left: 8px;
}

.padding-left-small {
  padding-left: 16px;
}

.padding-left-medium {
  padding-left: 24px;
}

.padding-left-large {
  padding-left: 56px;
}

.padding-left-larger {
  padding-left: 72px;
}

/**
 * Padding right
*/
.padding-right-smaller {
  padding-right: 8px;
}

.padding-right-small {
  padding-right: 16px;
}

.padding-right-medium {
  padding-right: 24px;
}

.padding-right-large {
  padding-right: 56px;
}

.padding-right-larger {
  padding-right: 72px;
}

/**
 * Rounded corners
*/
.ellipsis {
  border-radius: 50%;
}

.border-radius-smaller {
  border-radius: 2px;
}

.border-radius-small {
  border-radius: 4px;
}

.border-radius-medium {
  border-radius: 8px;
}

.border-radius-large {
  border-radius: 16px;
}

.border-radius-larger {
  border-radius: 32px;
}

/**
 * Shadows
*/
.shadow-0 {
  box-shadow: none !important;
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/*# sourceMappingURL=helpers.css.map */
