html,
body {
  height: 100%;
  font-family: Open sans, sans-serif;
  background-color: #eff3f7;
}

.sample-text {
  padding: 10px;
  background-color: aliceblue;
  border-radius: 4px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .container-smaller {
    width: 90%;
    margin: 0 auto;
  }
  .container-small {
    width: 90%;
    margin: 0 auto;
  }
  .container-medium {
    width: 90%;
    margin: 0 auto;
  }
  .container-large {
    max-width: 90%;
    width: 1280px;
    margin: 0 auto;
  }
  .container-larger {
    width: 95%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container-smaller {
    width: 500px;
    margin: 0 auto;
  }
  .container-small {
    width: 70%;
    margin: 0 auto;
  }
  .container-medium {
    width: 70%;
    margin: 0 auto;
  }
  .container-large {
    max-width: 90%;
    width: 1280px;
    margin: 0 auto;
  }
  .container-larger {
    width: 95%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1375px) {
  .container-smaller {
    width: 420px;
    margin: 0 auto;
  }
  .container-small {
    width: 660px;
    margin: 0 auto;
  }
  .container-medium {
    width: 760px;
    margin: 0 auto;
  }
  .container-large {
    max-width: 90%;
    width: 1280px;
    margin: 0 auto;
  }
  .container-larger {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1376px) {
  .container-smaller {
    width: 420px;
    margin: 0 auto;
  }
  .container-small {
    width: 660px;
    margin: 0 auto;
  }
  .container-medium {
    width: 866px;
    margin: 0 auto;
  }
  .container-large {
    max-width: 90%;
    width: 1280px;
    margin: 0 auto;
  }
  .container-larger {
    width: 90%;
    margin: 0 auto;
  }
}


.header-cover {
  width: 100%;
  height: 300px;
  background-color: #4100a9;
}



.animated.showItem {
  animation-name: showItem;
  animation-duration: 0.5s;
  animation-timing-function: 1;
  animation-fill-mode: forwards;
}
@keyframes showItem {
  0% {
    opacity: 0;
    transform: scale(.9);
    -webkit-transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}


.animated.showPage {
  animation-name: showPage;
  animation-duration: 0.5s;
  animation-timing-function: 1;
  animation-fill-mode: forwards;
}
@keyframes showPage {
  0% {
    opacity: 0;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.animated.hidePage {
  animation-name: hidePage;
  animation-duration: 0.5s;
  animation-timing-function: 1;
  animation-fill-mode: forwards;
}
@keyframes hidePage {
  0% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
  }
}
