.fadeOutUp {
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards !important;
}

.fadeOut {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.slideOutUp {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.slideInDown {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}